H1{
    COLOR : #ff0000 
}
.header *{
    border : solid;   
    margin : 30px; 
    padding: 30px;
    }
.HEADER{
    background-color:cadetblue ;
    DISPLAY:FLEX;
    justify-content: space-evenly ;
}
.GRID{
    DISPLAY:FLEX;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.FOOTER{
    DISPLAY:FLEX;
    justify-content:flex-end;
}
P,H2{
    text-align:center ;
}
BODY{
    background-color:#808080 ;
}

.MENU {
    margin-top : 20px;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

a:link {
    color : white;
}
a:visited {
 color : purple;

} 
.ITEM {
    position: relative;
}

.ITEM p{
    position: absolute;
    top :50%;
    left:50%;
    transform:translate(-50%,-50%);
    opacity :0;
}
.ITEM:hover p{
    opacity:1;
}
.ITEM:hover img{
    opacity:0.5;
}





